.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  border: 1px solid rgb(214, 217, 220);
  justify-content: space-around;
}

.trybewarts-header-logo {
  width: 100px;
}

#trybewarts-header-title {
  color: white;
  align-self: center;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#login-input{
  height: 45px;
  width: 250px;
}

#senha-input{
  height: 45px;
  width: 250px;
}

main {
  display: flex;
  justify-content: space-around;
  color: rgb(93, 96, 99);
}

.green-and-white{
  background-color: rgb(50, 167, 145);
  color: white;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#form-input{
  border: 1px solid rgb(214, 217, 220);
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
}

#forms-title{
  color: rgb(93, 96, 99);
  text-align: center;
}

.name-container {
  display: flex;
}

.emailAndItems-container {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

.family-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.content-checkbox-container {
  display: flex;
}

.checkbox-container {
  display: flex;
}

.question-container {
  display: flex;
}

.content-ckbx-container {
  display: flex;
}

.ckbx-container {
  margin-bottom: 0;
  margin: auto 0.4rem auto 0.1rem;
}

.text-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.agreement-container {
  display: flex;
}

#label-infos{
  margin-right: 7px;
}

.submit-container {
  display: flex;
  justify-content: center;
}

#submit-btn {
  display: flex;
  margin: 10px;
  background-color: rgb(50, 167, 145);
}

#form-output {
  display: none;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
  background-color: rgb(93, 96, 99);
  color: white;
}
