.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-around;
}

.trybewarts-header-logo {
  width: 100px;
}

#trybewarts-header-title {
  color: white;
  align-self: center;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#login-input{
  height: 45px;
  width: 250px;
}

#senha-input{
  height: 45px;
  width: 250px;
}

main {
  display: flex;
  justify-content: space-around;
  /* color: rgb(50, 167, 145); */
}

.green-and-white{
  background-color: rgb(50, 167, 145);
  color: white;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

.name-container {
  display: flex;
}

.emailAndItems-container {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

.family-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.content-checkbox-container {
  display: flex;
}

.checkbox-container {
  display: flex;
}

.question-container {
  display: flex;
}

.content-ckbx-container {
  display: flex;
}

.ckbx-container {
  display: flex;
}

.text-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

#textarea {
  display: flex;
  order: 1;
}

.textarea {
  display: flex;
}

.agreement-container {
  display: flex;
}

.submit-container {
  display: flex;
  justify-content: center;
}

#submit-btn {
  display: flex;
  margin: 10px;
}

#form-output {
  display: none;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
  background-color: dimgray;
  color: white;
}
